<div class="center">
    <div class="cart">
        <div class="items">
            <mat-card>
                <div class="pizza-title">Pizzas</div>
                <div *ngFor="let item of cart">
                    <div class="mainpizza">
                        <div>{{item.pizza?.name}}</div>
                        <div>{{item.pizza?.price| number:'1.2-2'}}</div>
                    </div>
                    <div *ngFor="let extra of item.orderItemMinus" class="extras">
                        <div class="extraname">- {{extra.extra?.name}}</div>
                        <div>- {{extra.extra?.price | number:'1.2-2'}}</div>
                    </div>
                    <div *ngFor="let extra of item.orderItemExtras" class="extras">
                        <div class="extraname">+ {{extra.extra?.name}}</div>
                        <div>+ {{extra.extra?.price | number:'1.2-2'}}</div>
                    </div>
                </div>
                <hr>
                <div style="font-weight: bold;">Gesamt</div>
            </mat-card>
        </div>
        <mat-form-field style="width: 100%">
            <input matInput type="number" placeholder="Telefonnummer">
        </mat-form-field>

        <mat-form-field style="width: 100%">
            <textarea matInput placeholder="Notizen"></textarea>
        </mat-form-field>

        <div>
            <button mat-raised-button style="background-color: #7c0000; color: white;">Bestellen</button>
        </div>
    </div>
</div>