<div>
    <div>{{extra ? ('admin.actions.edit' | translate) : ('admin.actions.add' | translate)}}
    </div>
    <form [formGroup]="form" *ngIf="form">
        <div>
            <mat-form-field>
                <input matInput formControlName="name" placeholder="Name">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput type="number" formControlName="price" placeholder="Preis">
            </mat-form-field>
        </div>
    </form>
    <div class="buttons">
        <button mat-raised-button (click)="onCancel()">{{'admin.actions.cancel' | translate}}</button>
        <button mat-raised-button (click)="onSubmit()">{{'admin.actions.save' | translate}}</button>
    </div>
</div>