<div class="customer-page">
    <div class="header">
        <div class="header-nav">
            <div class="item" routerLink="home">
                <div>Home</div>
            </div>
            <div class="item">
                <div href="#menu">Menu</div>
            </div>
            <div class="item">
                <div>Location</div>
            </div>
            <div class="item">
                <div>Contact</div>
            </div>
        </div>
        <div>
            <button mat-flat-button routerLink="/cart" style="height: 100%">
                <mat-icon [svgIcon]="'pd-cart'"></mat-icon>
            </button>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>