<div class="item">
    <div>
        <div class="pizza-name">{{pizza.name}}</div>
        <div class="pizza-extras"><span *ngFor="let extra of pizza.pizzaExtras, index as i">{{extra.extra?.name}} {{i ==
                (pizza.pizzaExtras.length -1) ?'' : ', '}} </span></div>
    </div>
    <div class="pizza-item-end">
        <div class="price">{{pizza.price}}</div>
        <div class="orderbutton">
            <button mat-flat-button style="background-color: lightgray;" (click)="openOrderDetail()"><mat-icon [svgIcon]="'pd-add'" style="color: green;"></mat-icon></button>
        </div>
    </div>
</div>