<div class="page">
    <div class="header">
        {{'admin.sidenav.orders' | translate}}
    </div>
    <div class="content">
        <div class="in">
            <div class="title">Eingegangen</div>
            <div *ngFor="let order of signalRService.orders">
                <mat-card *ngIf="!order.isInSystem && !order.isCompleted">
                    <div class="card-title">
                        <div>{{order.location}}</div>
                        <div class="date">{{order.createdOn | date:'HH:mm dd.MM.yyyy'}}</div>
                    </div>
                    <div *ngFor="let pizza of order.orderItems">
                        {{pizza.pizza?.name}}
                    </div>
                    <div class="buttons">
                        <button mat-raised-button (click)="inSystem(order.id)">
                            <mat-icon [svgIcon]="'pd-check'"></mat-icon>
                        </button>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="progress">
            <div class="title">In Bearbeitung</div>
            <div *ngFor="let order of signalRService.orders">
                <mat-card *ngIf="order.isInSystem && !order.isCompleted">
                    <div class="card-title">
                        <div>{{order.location}}</div>
                        <div class="date">{{order.createdOn | date:'HH:mm dd.MM.yyyy'}}</div>
                    </div>

                    <div class="buttons">
                        <button mat-raised-button>
                            <mat-icon [svgIcon]="'pd-check'"></mat-icon>
                        </button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>