 @import url('../../../styles.scss');
 .content {
    margin-top: 25px;
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .table {
        margin-top: 20px;
    }
 }

tr:hover{
    background-color: lightgray;
    cursor: pointer;
}