<ng-scrollbar class="scrollbar" style="width: 100%;">

    <div class="banner">
        <div>
            Pizzeria Dolomiten
        </div>
    </div>
    <div class="menu-header">
        <div #menu>MENU</div>
    </div>
    <div class="center">
        <div class="choose">
            <div class="choose-item" [ngClass]="selectedMenu == 0 ? 'selected' : ''" (click)="viewMenu(0)">
                <div>Pizzas</div>
            </div>
            <div class="choose-item" [ngClass]="selectedMenu == 1 ? 'selected' : ''" (click)="viewMenu(1)">
                <div>Döner</div>
            </div>
            <div class="choose-item" [ngClass]="selectedMenu == 2 ? 'selected' : ''" (click)="viewMenu(2)">
                <div>Getränke</div>
            </div>
        </div>
    </div>
    <div class="center">
        <div class=" menu">
            <div *ngIf="selectedMenu == 0">
                <div class="spinner">
                    <mat-spinner *ngIf="!pizzas"></mat-spinner>
                </div>
                <div *ngFor="let pizza of pizzas">
                    <pd-pizza-menu-item [pizza]="pizza" [extras]="extras"></pd-pizza-menu-item>
                </div>
            </div>
            <div *ngIf="selectedMenu == 2">
                <div *ngFor="let drink of drinks">
                    <pd-drink-menu-item [drink]="drink"></pd-drink-menu-item>
                </div>
            </div>
        </div>
        <div>
            <div class="map-container" leaflet [leafletOptions]="options"></div>
        </div>
    </div>

</ng-scrollbar>