<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" [opened]=true>
        <div style="height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
            <div>
                <div style="margin-top: 20px">
                    <pd-sidenav-item [label]="'admin.sidenav.orders' | translate" [link]="'./orders'"
                    [icon]="'pd-cart'">
                    </pd-sidenav-item>
                    <pd-sidenav-item [label]="'admin.sidenav.pizzas' | translate" [link]="'./pizzas'"
                    [icon]="'pd-pizza'">
                    </pd-sidenav-item>

                    <pd-sidenav-item [label]="'admin.sidenav.extras' | translate" [link]="'./extras'"
                    [icon]="'pd-extra'">
                    </pd-sidenav-item>
                    <pd-sidenav-item [label]="'admin.sidenav.statistics' | translate" [link]="'./statistics'"
                    [icon]="'pd-stats'">
                    </pd-sidenav-item>
                </div>
            </div>
            <div>
            </div>
        </div>
    </mat-drawer>


    <div class="sidenav-content">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>