<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" *ngIf="!isMobile" mode="side" [opened]=true>
        <div style="height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
            <div>
                <div style="margin-top: 20px">
                    <pd-sidenav-item [label]="'admin.sidenav.orders' | translate" [link]="'./orders'"
                        [icon]="'pd-cart'">
                    </pd-sidenav-item>

                    <pd-sidenav-item [label]="'admin.sidenav.pizzas' | translate" [link]="'./pizzas'"
                        [icon]="'pd-pizza'">
                    </pd-sidenav-item>

                    <pd-sidenav-item [label]="'admin.sidenav.extras' | translate" [link]="'./extras'"
                        [icon]="'pd-extra'">
                    </pd-sidenav-item>

                    <pd-sidenav-item [label]="'admin.sidenav.drinks' | translate" [link]="'./drinks'"
                        [icon]="'pd-drink'">
                    </pd-sidenav-item>

                    <pd-sidenav-item [label]="'admin.sidenav.statistics' | translate" [link]="'./statistics'"
                        [icon]="'pd-stats'">
                    </pd-sidenav-item>
                </div>
            </div>
            <div>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer #sidenav *ngIf="isMobile" class="sidenav" mode="over" [opened]="sidenavIsOpen" (click)="sidenav.toggle">
        <div style="height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
            <div >
                <div style="margin-top: 20px">
                    <pd-sidenav-item [label]="'admin.sidenav.orders' | translate" [link]="'./orders'"
                        [icon]="'pd-cart'" (click)="toggleDrawer2()">
                    </pd-sidenav-item>

                    <pd-sidenav-item [label]="'admin.sidenav.pizzas' | translate" [link]="'./pizzas'"
                        [icon]="'pd-pizza'" (click)="toggleDrawer2()">
                    </pd-sidenav-item>

                    <pd-sidenav-item [label]="'admin.sidenav.extras' | translate" [link]="'./extras'"
                        [icon]="'pd-extra'" (click)="toggleDrawer2()">
                    </pd-sidenav-item>

                    <pd-sidenav-item [label]="'admin.sidenav.drinks' | translate" [link]="'./drinks'"
                        [icon]="'pd-drink'" (click)="toggleDrawer2()">
                    </pd-sidenav-item>

                    <pd-sidenav-item [label]="'admin.sidenav.statistics' | translate" [link]="'./statistics'"
                        [icon]="'pd-stats'" (click)="toggleDrawer2()">
                    </pd-sidenav-item>
                </div>
            </div>
            <div>
            </div>
        </div>
    </mat-drawer>
    <div class="sidenav-content">
        <app-topbar (toggle)="toggleDrawer($event)" [title]="'test'" *ngIf="isMobile"></app-topbar>
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>