/* You can add global styles to this file, and also import other style files */
@import url("./node_modules/leaflet/dist/leaflet.css");


@font-face {
    font-family: 'munich';
    src: url('./assets/font/munich/munich-sans.ttf') format("truetype");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page {
    padding: 15px;
    .header {
        font-size: x-large;
    }
}

.content {
    margin-top: 25px;
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .table {
        margin-top: 20px;
    }
 }


 ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #7c0000 !important;
  }
  
  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #7c0000 !important;
  }