/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page {
    padding: 15px;
    .header {
        font-size: x-large;
    }
}

.content {
    margin-top: 25px;
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .table {
        margin-top: 20px;
    }
 }