.header {
  background-color: #7c0000;
  padding: 10px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 50px;
  vertical-align: middle;
  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
  .item:hover {
    background-color: whitesmoke;
    color: #7c0000;
    cursor: pointer;
  }
}

.banner {
  background-position: center;
  background-size: cover;
  background-image: url("../../assets/images/pizzeria.jpg");
  min-height: 75%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-family: munich;
  font-size: 50px;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.menu-header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "munich";
  font-size: 50px;
  color: #7c0000;
  div {
    margin-top: 20px;
  }
}
.choose {
  display: grid;
  width: 60%;
  background-color: gray;
  color: white;
  grid-template-columns: 1fr 1fr 1fr;
  height: 30px;
  font-size: 18px;
  padding: 3px;
  .choose-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    div{
      margin: auto;
    }
  }
  .choose-item:hover{
    background-color: lightgray;
    color: #7c0000;
    cursor: pointer;
  }
}

.selected {
  background-color: white;
  color: #7c0000;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .menu {
    width: 60%;
    font-size: large;
    margin-top: 20px;
    //font-family: "munich";
    font-weight: bold;
  }
}

@media only screen and (max-width: 700px) {
  .center {
    .menu {
      width: 90%;
    }
  }
}
