.item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .drink-name {
    font-size: larger;
    margin-bottom: 5px;
  }

  .drink-item-end {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    .price {
      font-size: larger;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}
