.sidenav-item-container {
    display: grid;
    grid-template-columns: auto 1fr;

    mat-icon {
        padding: 10px 20px 10px 20px;
    }

    .sidenav-label {
        margin: auto;
        margin-left: 0px;
        color: gray;
        font-size: 18px;
        padding-right: 30px;
    }

    .sidenav-icon {
        color: gray;
    }
}

.selectedSidenav {
    background-color: #db0000;
    .sidenav-icon {
        color: white;
    }
    .sidenav-label {
        color: white;
    }
}

.sidenav-item-container :hover {
    cursor: pointer;
    .sidenav-icon {
        color: white;
    }
    .sidenav-icon {
        color: white;
    }
    color: white;
}
